{% extends 'base.html' %}
{% load static %}
{% block title %} Oddam w dobre ręce{% endblock %}
{% block header-class %}{% endblock %}
{% block slogan_container %}
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form action="" method="post">
          {% csrf_token %}
        <div class="form-group">
            {{ form.first_name }}
{#          <input type="text" name="name" placeholder="Imię" />#}
        </div>
         <div class="form-group">
             {{ form.last_name }}
{#          <input type="text" name="surname" placeholder="Nazwisko"/>#}
        </div>
        <div class="form-group">
                {{ form.email }}
{#          <input type="email" name="email" placeholder="Email" />#}
        </div>
        <div class="form-group">
            {{ form.pass_1 }}
{#          <input type="password" name="password" placeholder="Hasło"/>#}
        </div>
        <div class="form-group">
            {{ form.pass_2 }}
{#          <input type="password" name="password2" placeholder="Powtórz hasło"/>#}
        </div>

        <div class="form-group form-group--buttons">
          <a href={% url 'login' %} class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

{% endblock %}
