{% extends 'base.html' %}
{% block title %}Profil użytkownika{% endblock %}

{% block content %}
    <section class="user-profile-page">
    <h2>Profil użytkownika</h2>
    <div class="container--90">
    <h3>Dane użytkownika</h3>
    <p>Imię: {{ user.first_name }}</p>
    <p>Nazwisko: {{ user.last_name }}</p>
    <p>Adres e-mail: {{ user.email }}</p>
        <a class="btn btn--without-border" href="{% url 'edit_profile' %}">Edycja profilu</a>
        <a class="btn btn--without-border" href="{% url 'edit_profile' %}#change-password">Zmień hasło</a>
    </div>
    <hr/>
    <div class="container--90">
        <h3>Przekazane dary</h3>
    {% if not donations %}
        <h5 class="info">Brak przekazanych darów</h5>
    {% else %}
    <table>
    <thead>
    <tr>
        <th>Liczba worków</th>
        <th>Kategorie</th>
        <th>Organizacja</th>
        <th>Adres odbioru</th>
        <th>Data odbioru</th>
        <th>Czas odbioru</th>
        <th>Komentarz</th>
        <th>Stan</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody id="donation_list">
    {% for donation in donations %}
        <tr>
        <td>{{ donation.quantity }}</td>
        <td>
            {% for category in donation.categories.all %}
            {{ category }},
            {% endfor %}
        </td>
        <td>{{ donation.institution }} </td>
        <td>{{ donation.address }} <br>
        {{ donation.zip_code }}, {{ donation.city }}</td>
        <td>{{ donation.pick_up_date }}</td>
        <td>{{ donation.pick_up_time }}</td>
        <td>{{ donation.pick_up_comment | linebreaks }}</td>
        <td class="donation-list-is-taken">{% if donation.is_taken %}Odebrane {% else %} Nieodebrane {% endif %}</td>
        <td>
            <form action="{% url 'archive_donation' donation.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Archiwizuj">
            </form>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    </div>
</section>
{% endblock %}